body {
  background-color: #111;
  height: 100%;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "open-sans-bold", AvenirNext-Medium, sans-serif;
}

html {
  height: 100%;
  width: 100%;
}

#logo {
  padding-bottom: 10px;
}

#action-button {
  color: #fff;
  padding: 10px 15px;
  margin: 5px;
  text-decoration: none;
  border: solid white;
  border-radius: 10px;
}

#main-div {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

#top-div {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 3;
  padding: 30px;
}

#bottom-div {
  margin: 0;
  padding: 0;
  flex: 1;
  display: flex;
  align-content: end;
}

#screenshot {
  height: 300px;
  padding: 0;
  margin: 0;
}
